ul.tree-container {
  list-style: none !important;
  margin: 0 !important;
  padding: 0;
}

div.tree-node {
  padding: 0.75rem 1.25rem;
  padding-right: 0;
}

div.tree-label {
  margin-bottom: 15px;
}
