.container {
  margin-top: 1rem;
}

a.button {
  display: block;
  width: fit-content;
}

.button.is-to-the-right {
  margin-left: auto;
}

.node-btn-container {
  position: absolute;
  left: 250px;
}
